<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCi_H71KsnD_inJiwaGSBbdGmMTsMhKFNM</string>
	<key>GCM_SENDER_ID</key>
	<string>1084163176337</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wecann.app.tododash.mac</string>
	<key>PROJECT_ID</key>
	<string>tododash-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>tododash-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1084163176337:ios:b772896a2b2a1b9257cc30</string>
</dict>
</plist>